<div class="panel-footer">
  <div class="row">
    <div class="col-sm-4 site-footer" style="text-align: left;">
    <p><a href="https://devstaffarchivesspace.lib.rochester.edu"  class="mobile-unhide">Staff Interface</a> |  <a href="http://archivesspace.org"  class="mobile-unhide">ArchivesSpace.org</a> | Hosted by <a href="http://www.lyrasis.org/"  class="mobile-unhide">Lyrasis</a> <img src="/assets/lyrasis_star.png" alt="Lyrasis Logo"></p>
    </div>
  </div>
</div>