<!-- Inject Location: body_top -->
<!-- Contact button -->
    <link rel="stylesheet" href="luContactBtn.css">
    <script src="luContactBtn.js"></script>
    <div class="contactUs">
        <div id="contactUsContent">
        <button onclick="closeBtn()">X</button>
        <h3>Contact Us/Request a Visit</h3>
        <a href="https://www.library.rochester.edu/services/forms/contact-rbscp" target="_blank">Rare Books and Special Collections</a>
        <a href="https://www.esm.rochester.edu/sibley/contact/" target="_blank">Sibley Music Library</a>
        <a href="https://urmc-rochester.libanswers.com/form?queue_id=6183" target="_blank">Edward G.Miner Library</a>
        <a href= "https://www.library.rochester.edu/about/staff/dept#38" target="_blank">Rossell Hope Robbins Library</a>
        <a href="https://mag.rochester.edu/about/contact-us/" target="_blank">Memorial Art Gallery</a>
        </div><button onclick="openBtn()" class="openBtn">Contact Us</button>
        <button onclick=" window.open('https://docs.google.com/forms/d/e/1FAIpQLSfXe7jzLaC_zSJTfz8l0az5qXaljZz7wNgToC-44OBmS0gddw/viewform', '_blank')" class="quickSurvey">Feedback Survey</button>
        <button class="toggleBtn" onclick="toggleBtn()">Hide/Show</button>    
    </div>
