    <!-- Contact button -->
    <link rel="stylesheet" href="luContactBtn.css">
    <script src="luContactBtn.js"></script>
    <div class="contactUs">
        <div id="contactUsContent">
        <button onclick="closeBtn()">X</button>
        <h3>Contact Us/Request a Visit</h3>
        <a href="https://www.library.rochester.edu/services/forms/contact-rbscp">Rare Books and Special Collections</a>
        <a href="https://www.esm.rochester.edu/sibley/contact/">Sibley Music Library</a>
        <a href="https://www.urmc.rochester.edu/libraries/miner/about/contact-us.aspx">Edward G.Miner Library</a>
        <a>Robbins Library</a>
        <a href="https://mag.rochester.edu/about/contact-us/">Memorial Art Gallery</a>
        </div><button onclick="openBtn()" class="openBtn">Contact Us</button>
        </div>