.contactUs {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    }
    .contactUs button {
    background-color: #FFC70A;
    color: #00205B;
    border: none;
    padding: 10px 35px;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 5px;
    box-shadow: 0 0.938em 2.188em rgb(50 50 93 / 15%), 0 0.313em 0.938em rgb(0 0 0 / 10%);
    }
    .contactUs #contactUsContent {
    display: none;
    flex-direction: column;
    width:400px;
    height: auto;
    padding: 2em;
    background-color: #f9f9f9;
    margin-bottom: 1em;
    border:1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 0.938em 2.188em rgb(50 50 93 / 15%), 0 0.313em 0.938em rgb(0 0 0 / 10%);
    }
    .contactUs #contactUsContent h3 {
    margin-top: 5px;
    }
    .contactUs #contactUsContent a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    margin-bottom: 0.3em;
    }
    .contactUs #contactUsContent button {
    position:absolute;
    right:0;
    top: 0;
    padding: 10px 18px;
    border: none;
    border-right:1px solid #d3d3d3;
    border-top:1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #FFC70A;
    color: #004f6f;
    box-shadow: none;
    }
    .contactUs button:hover, .contactUs #contactUsContent button:hover {
    background-color: #004f6f;
    color: #FFC70A;
    }
    @media screen and (max-width: 500px) {
    .contactUs {
    width: 100%;
    right: 0;
    }
    .contactUs #contactUsContent {
    width: 100%;
    }
    .contactUs .openBtn {
    margin-right: 1em;
    }
    }
    